#portafolio{
  width: 100%;
  display: block;
  position: relative;
  ul{
    margin: 7px 0 0 7px;
    li{
      width: 50%;
      display: inline-block;
      margin: -7px 0 0 -7px;
      padding: 0;
      position: relative;
      .hover{
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }
      &:hover{
        .hover{
          display: block;
          img{
            width: 35%;
            margin: 0 auto;
            padding-top: 27%;
            display: block;
          }
        }
      }
    }
  }
}